/**
 * base.css
 * may 11, 2020
 * glenn abastillas
 * stylesheet for base.html
 */

html, body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
}

.panel {
    height: 50%;
    width: 100%;
    background: #ddd;
    border: 3px solid black;
}