/**
 * base.css
 * may 11, 2020
 * glenn abastillas
 * stylesheet for base.html
 */

html, body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
}

a {
	margin: 0 1em 0 1em;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:hover {
	text-shadow: 0em 0em 0.1em white;
	text-decoration: underline;
}

a:visited {
	color: red;
}

.panel {
    padding: 1em;
    vertical-align: middle;
}

.panel.header {
    height: 50%;
    background: #a276cf;
    border-bottom: 3px solid black;
}

.panel.content {
	width: 10em;
	border: 2px dotted black;
	background: #dedede;
	font-size: 1.25em;
}

#title {
	font-size: 1.5em;
	font-weight: 600;
	margin-right: 2em;
}

#current-page {
	font-size: 1.25em;
	font-weight: 600;
}